.LiberateYourEverydayWellness{
width: 375px;
height: 411px;
left: 0px;
background: #DCE9E9;
}

.LiberateYourEverydayWellnessTitle {
width: 335px;
height: 66px;
padding: 39px 7px 37px 33px;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;

color: #1B1B50;
}

.LiberateYourEverydayWellnessSubTitle{
    width: 329px;
height: 86px;
left: 33px;
padding: 0 13px 21px 33px;
font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 134.8%;
color: #000000;
}

.LiberateYourEverydayWellnessContent{
width: 308px;
height: 145px;
left: 33px;
padding: 0 34px 17px 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 206.5%;
/* or 29px */


color: rgba(0, 0, 0, 0.8);
}
.LiberateYourEverydayWellnessButton {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 30px;
width: 315px;
height: 66px;
left: 30px;
background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
}

.LiberateYourEverydayWellnessHashtag{
width: 335px;
height: 33px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height */
margin-left: 20px;
margin-top: 21px;
text-align: center;

color: rgba(0, 0, 0, 0.8);
}